body {
  background-color: $light-gray;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
body {
  font-family: $site-font;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}

.navbar {
  color: #fff;
  padding: 20px 15%;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
}

.nav-link {
  color: #fff;
  &:hover{
    color: #ccc;
  }
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.808);
  border: none;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

ul {
  list-style: none;
  padding: 0;
}